.projectCard {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    overflow: hidden;
    text-align: left;
}

.cardImage img {
    width: 100%;
    height: auto;
}

.cardContent {
    padding: 15px;
}

.cardContent h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.cardContent p {
    font-size: 1em;
    color: #666;
}

.cardContent a {
    color: #007bff;
    text-decoration: none;
}

.cardContent a:hover {
    text-decoration: underline;
}