.hero {
    background-color: var(--color-cloud-white);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: var(--color-midnight);
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--color-midnight);
}