.projectSection {
  padding: 60px 20px;
  background-color: #fefcf6;
  text-align: center;
}

.buttonContainer {
  margin-bottom: 12px;
}

.buttonContainer button {
  margin: 0 4px;
  padding: 10px 20px;
  border: 2px solid #5e6c5b;
  border-radius: 5px;
  background-color: #fefcf6;
  color:#162a2c;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #707c4f;
  color: #fefcf6;
}

.buttonContainer button:active {
  background-color: #5e6c5b;
  color: #fefcf6;
}

.buttonContainer button.active {
  background-color:#162a2c;
  color: #fefcf6;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}