.projectSection {
  padding: 60px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.buttonContainer {
  margin-bottom: 12px;
}

.buttonContainer button {
  margin: 0 4px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #e7e7e7;
}

.buttonContainer button:active {
  background-color: #d5d5d5;
}

.buttonContainer button.active {
  background-color: #333;
  color: white;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}