* {
  box-sizing: border-box; 
}

body {
  margin: 0 auto;
  padding: 0 auto;
 background-image: url("../images/concrete-texture.png") 
}


/*About Me*/

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

/* .parallax-container, .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
} */


#para-img {
  display: block;
  transform: translate3d(-50%, 338px, 0px);
}

#profile-pic {
  float: left;
  width: 325px;
  height: 325px;
  margin: 10px;
  padding: 8px;
}

#about {
  float: left;
  clear: left;
  margin: 10px;
  padding: 10px;
  line-height: 34px;
}


/*Portfolio*/

.card {
  width: 300px;
  height: auto;
  margin-top: 70px;
}

#gif-img, #jewel-img, #lmn-img {
  width: 300px;
  height: auto;
 
}

/*contact*/

#contact-container {
  margin-top: 70px;
  padding: 20px;
  border: solid lightgray 2px;
  justify-content: center;
}

/* #contact-btn {
  
} */


/*Footer*/
