* {
  box-sizing: border-box; 
}

body {
/* background-image: url("/assets/images/background-image/pineapple-supply-co-hiV4fUpSX1c-unsplash.jpg") ; */
  /* Full height */
  /* height: auto;
  width: 100%; */
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
  margin: 0 auto;
  padding: 0 auto;
}



/* Hero section  */
/* .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/background-image/pineapple-supply-co-hiV4fUpSX1c-unsplash.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text a {
  border: black solid 2px;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  margin-top: 10px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text  a:hover {
  background-color: #fff;
  color: white;
}

#initial-logo {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 350px;
height: auto;
}


/*About Me*/

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 800px;
}

/* #connect {
  margin: 25px;
  padding: 10px;
  float: right;
  text-align: center;
  border: black 2px solid;
} */


#para-img {
  display: block;
  transform: translate3d(-50%, 338px, 0px);
  height: auto;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

#profile-pic {
  float: left;
  width: 345px;
  height: 305px;
  margin: 10px;
  padding: 8px;
  /* border-radius: 50%; */
  border: solid rgb(102, 9, 32) 3px;
}

#about {
  float: left;
  clear: both;
  margin: 10px;
  padding: 10px;
  line-height: 34px;
}


.hobby {
  flex: 25%;
  /* max-width: 25%; */
  padding: 0 4px;
  margin-top: 8px;
  /* vertical-align: middle; */
  width: 100%;
}

/*Portfolio*/

.card {
  width: 300px;
  height: auto;
  margin-top: 70px;
  border: #666 26px;
}

#work-img {
  max-width: 300px;
  width: 100%;
  height: 225px;
}


/*Footer*/

/* #connectMe {

} */

/* portfolio gallery  */

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px;
  padding-top: 0;
  margin: 4px;
  background-color: grey;
  cursor: pointer;
  text-align: center;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
  color: white;
}


/* Media Query  */

@media screen and (max-width: 1024px) {
  .column {
    width: 50%;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
