.contact {
    padding: 40px 10px;
    text-align: center;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.contact h3 {
    color: #333;
    text-align: left;
    font-weight: 600;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%; 
}

form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}

.formRow {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    width: 100%;
}

.formGroup {
    /* This makes each formGroup take up equal space */
    flex: 1;
}

.formGroup input {
    width: 100%;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #DAD7CD;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #3A5A40;
}

form textarea {
    height: 100px;
    resize: vertical; 
}

form button {
    width: 100%;
    padding: 12px;
    font-size: 1.2em;
    background-color: #3A5A40;
    color: #333;
    border: 1px solid #DAD7CD;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #588157;
    color: #fff;
}