.header {
    /* background-color: #5e6c5b; */
    background-color: #4E5424;
}


.logo {
    width: 50px;
    margin-right: 10px;
}

.menuButton {
    margin-right: 20px;
}

.menuItem {
    text-align: center;
}