.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    max-width: 125px;
    height: 125px;
}

.quick-links, .social-links {
    display: flex;
    flex-direction: column;
}

.quick-links h4, .social-links h4 {
    margin: 0 auto;
}

.quick-links a, .social-links a {
    padding-top: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 20px;
}