.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    max-width: 125px;
    height: auto;
    margin: 0 auto;
}

.quickLinks,
.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.quickLinks h4,
.contactSection h4 {
    margin-bottom: 10px;
    text-align: center;
}

.quickLinks a,
.contactSection a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}  

.socialIcons a {
    color: inherit;
}

.contactSection a:hover,
.quickLinks a:hover {
    text-decoration: underline;
}

.footerBottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}